extends components/template
append config
  -titulo = "Lista de compras"
  -page = "Listado de compras"
block main
  h1  Listado de productos

  table.listado
    thead
      tr
        th ID
        th Nombre
        th Cantidad
        th Precio

    tbody
      tr
        td 1
        td Producto XYZ
        td 5
        td $ 20.00
      tr
        td 1
        td Producto XYZ
        td 5
        td $ 20.00
      tr
        td 1
        td Producto XYZ
        td 5
        td $ 20.00
      tr
        td 1
        td Producto XYZ
        td 5
        td $ 20.00
      tr
        td 1
        td Producto XYZ
        td 5
        td $ 20.00
