extends components/template
append config
  -titulo = "Ventas"
  -page = "ventas"
block main
  h1 Ventas
  form
    .form-item.ed-container
      .ed-item.base-30
        label(for="fecha") Fecha
      .ed-item.base-70
        input(type="date" id="fecha" name="fecha")

    .form-item.ed-container
      .ed-item.base-30
        label(for="cliente") Cliente
      .ed-item.base-70
        select(name="cliente" id="cliente")
          option(value="cliente 1") Cliente 1
          option(value="cliente 2") Cliente 2
          option(value="cliente 3") Cliente 3

    .form-item.ed-container
      .ed-item.base-30
        label(for="producto") Producto
      .ed-item.base-70
        select(name="producto" id="producto")
          option(value="producto 1") Producto 1
          option(value="producto 2") Producto 2
          option(value="producto 3") Producto 3

    .form-item.ed-container
      .ed-item.base-30
        label(for="cantidad") Cantidad
      .ed-item.base-70
        input(type="number" id="cantidad")

    .form-item.ed-container
      .ed-item.base-30
        label(for="valor") Valor
      .ed-item.base-70
        input(type="number" id="valor")

    .ed-container
      .ed-item
        input(type="submit" value="vender")