<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, minimun-scale=1.0")
    link(rel="stylesheet", href="estilos.css")
    title Hola mundo
  body
    header.main-header
      .ed-container
        .ed-item
          img(src="http://escueladigital.pe/sites/__escueladigital/files/2015_img/logo.png").logo

    main.ed-container
      .ed-item
        block main

    footer.main-footer
      .ed-container
        .ed-item
          p Curso Bases de Datos Desde Cero - Alexys Lozada
    script(src="efectos.js")